USE [master]
GO
/****** Object:  Database [QuanLySoTietKiem]    Script Date: 6/30/2025 7:44:05 PM ******/
CREATE DATABASE [QuanLySoTietKiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySoTietKiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\QuanLySoTietKiem.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLySoTietKiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\QuanLySoTietKiem_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySoTietKiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySoTietKiem]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MaCN] [int] IDENTITY(1,1) NOT NULL,
	[TenChiNhanh] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NguoiQuanLy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoDichTietKiem]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichTietKiem](
	[MaGD] [int] IDENTITY(1,1) NOT NULL,
	[MaSo] [int] NOT NULL,
	[LoaiGiaoDich] [nvarchar](50) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayGD] [datetime] NOT NULL DEFAULT (getdate()),
	[LaiSuatApDung] [float] NULL,
	[GhiChu] [nvarchar](200) NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[CMND_CCCD] [nvarchar](20) NOT NULL,
	[NgayCap] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[TrangThai] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichSuThaoTac]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThaoTac](
	[MaLS] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[ThaoTac] [nvarchar](100) NULL,
	[ThoiGian] [datetime] NULL DEFAULT (getdate()),
	[DoiTuong] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSoTietKiem]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSoTietKiem](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[LaiSuatCoBan] [float] NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[PhiRutTruocHan] [float] NULL DEFAULT ((0)),
	[KyHanYeuCau] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
	[PhongBan] [nvarchar](50) NULL,
	[MaCN] [int] NULL,
	[NgaySinh] [date] NULL,
	[CMND_CCCD] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SoTietKiem]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoTietKiem](
	[MaSo] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[NgayMo] [date] NOT NULL,
	[KyHan] [int] NULL,
	[SoTienGoc] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL DEFAULT (N'Đang hoạt động'),
PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanNguoiDung]    Script Date: 6/30/2025 7:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNguoiDung](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](300) NOT NULL,
	[QuyenHan] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NOT NULL DEFAULT ((1)),
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiNhanh] ON 

INSERT [dbo].[ChiNhanh] ([MaCN], [TenChiNhanh], [DiaChi], [NguoiQuanLy]) VALUES (1, N'Chi nhánh Trung tâm', N'123 Đường ABC, Quận 1, TP.HCM', N'Nguyễn Văn A')
INSERT [dbo].[ChiNhanh] ([MaCN], [TenChiNhanh], [DiaChi], [NguoiQuanLy]) VALUES (2, N'Ngân hàng Vietcombank - CN Cần Thơ', N'01 Hòa Bình, P. Tân An, Q. Ninh Kiều, TP. Cần Thơ', N'Nguyễn Văn A')
INSERT [dbo].[ChiNhanh] ([MaCN], [TenChiNhanh], [DiaChi], [NguoiQuanLy]) VALUES (3, N'Ngân hàng BIDV - CN Cần Thơ', N'46 Trần Văn Khéo, P. Cái Khế, Q. Ninh Kiều, TP. Cần Thơ', N'Lê Thị B')
SET IDENTITY_INSERT [dbo].[ChiNhanh] OFF
SET IDENTITY_INSERT [dbo].[GiaoDichTietKiem] ON 

INSERT [dbo].[GiaoDichTietKiem] ([MaGD], [MaSo], [LoaiGiaoDich], [SoTien], [NgayGD], [LaiSuatApDung], [GhiChu], [MaNV]) VALUES (2, 32, N'Mở sổ tiết kiệm', CAST(20000000.00 AS Decimal(18, 2)), CAST(N'2025-06-16 20:06:06.770' AS DateTime), 3.5, N'Mở sổ tiết kiệm', 1)
INSERT [dbo].[GiaoDichTietKiem] ([MaGD], [MaSo], [LoaiGiaoDich], [SoTien], [NgayGD], [LaiSuatApDung], [GhiChu], [MaNV]) VALUES (3, 33, N'Mở sổ tiết kiệm', CAST(123000000.00 AS Decimal(18, 2)), CAST(N'2025-06-16 20:08:32.717' AS DateTime), 6, N'Mở sổ tiết kiệm', 9)
INSERT [dbo].[GiaoDichTietKiem] ([MaGD], [MaSo], [LoaiGiaoDich], [SoTien], [NgayGD], [LaiSuatApDung], [GhiChu], [MaNV]) VALUES (4, 34, N'Mở sổ tiết kiệm', CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-06-17 23:50:42.613' AS DateTime), 3.5, N'Mở sổ tiết kiệm', 1)
SET IDENTITY_INSERT [dbo].[GiaoDichTietKiem] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [CMND_CCCD], [NgayCap], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (1, N'Nguyễn Văn A', CAST(N'1985-03-10' AS Date), N'025648392', CAST(N'2005-06-15' AS Date), N'1A Nguyễn Trãi, Q1, TP.HCM', N'0901234567', N'leminhquan2020lv@gmail.com', 1)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [CMND_CCCD], [NgayCap], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (2, N'Lê Thị B', CAST(N'1990-12-21' AS Date), N'123456789', CAST(N'2010-09-01' AS Date), N'23 Trần Phú, Q5, TP.HCM', N'0912121212', N'leb123@yahoo.com', 1)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [CMND_CCCD], [NgayCap], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (3, N'Trần Văn C', CAST(N'1978-07-01' AS Date), N'987654322', CAST(N'2000-03-12' AS Date), N'3/5 Nguyễn Thái Học, Cần Thơ', N'0933445566', N'tranc78@hotmail.com', 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LichSuThaoTac] ON 

INSERT [dbo].[LichSuThaoTac] ([MaLS], [MaTaiKhoan], [ThaoTac], [ThoiGian], [DoiTuong]) VALUES (1, 1, N'Đăng nhập thành công', CAST(N'2025-06-20 19:06:13.440' AS DateTime), N'Tài khoản: admin')
INSERT [dbo].[LichSuThaoTac] ([MaLS], [MaTaiKhoan], [ThaoTac], [ThoiGian], [DoiTuong]) VALUES (2, 1, N'Đăng nhập thành công', CAST(N'2025-06-20 19:07:55.787' AS DateTime), N'Tài khoản: admin')
INSERT [dbo].[LichSuThaoTac] ([MaLS], [MaTaiKhoan], [ThaoTac], [ThoiGian], [DoiTuong]) VALUES (3, 1, N'Đổi mật khẩu', CAST(N'2025-06-20 19:08:02.280' AS DateTime), N'Tài khoản: admin')
GO
SET IDENTITY_INSERT [dbo].[LichSuThaoTac] OFF
SET IDENTITY_INSERT [dbo].[LoaiSoTietKiem] ON 

INSERT [dbo].[LoaiSoTietKiem] ([MaLoai], [TenLoai], [LaiSuatCoBan], [MoTa], [PhiRutTruocHan], [KyHanYeuCau]) VALUES (1, N'Tiết kiệm không kỳ hạn', 0.3, N'Linh hoạt rút tiền bất kỳ lúc nào', 0, NULL)
INSERT [dbo].[LoaiSoTietKiem] ([MaLoai], [TenLoai], [LaiSuatCoBan], [MoTa], [PhiRutTruocHan], [KyHanYeuCau]) VALUES (2, N'Tiết kiệm kỳ hạn 1 tháng', 3.5, N'Lãi suất cố định, rút đúng hạn', 0.20000000298023224, 1)
INSERT [dbo].[LoaiSoTietKiem] ([MaLoai], [TenLoai], [LaiSuatCoBan], [MoTa], [PhiRutTruocHan], [KyHanYeuCau]) VALUES (3, N'Tiết kiệm kỳ hạn 3 tháng', 4.1999998092651367, N'Lãi suất cao hơn, kỳ hạn trung bình', 0.5, 3)
SET IDENTITY_INSERT [dbo].[LoaiSoTietKiem] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [PhongBan], [MaCN], [NgaySinh], [CMND_CCCD], [DiaChi], [DienThoai], [Email]) VALUES (1, N'Nguyễn Văn B', N'Quản trị', N'IT', 1, CAST(N'1990-01-01' AS Date), N'123456789', N'456 Đường XYZ, Quận 3, TP.HCM', N'0909123456', N'nvb@example.com')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [PhongBan], [MaCN], [NgaySinh], [CMND_CCCD], [DiaChi], [DienThoai], [Email]) VALUES (3, N'Nguyễn Văn A', N'Nhân viên', N'IT', 1, CAST(N'1990-01-01' AS Date), N'223456789', N'456 Đường XYZ, Quận 3, TP.HCM', N'0909123456', N'a@gmail.com')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [PhongBan], [MaCN], [NgaySinh], [CMND_CCCD], [DiaChi], [DienThoai], [Email]) VALUES (4, N'Lê Thị Cẩm Tú', N'Trưởng phòng', N'Tín dụng', 2, CAST(N'1990-08-22' AS Date), N'012345670001', N'01 Hòa Bình, Q. Ninh Kiều, TP. Cần Thơ', N'0912233445', N'camtu.le@vietcombank.vn')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[SoTietKiem] ON 

INSERT [dbo].[SoTietKiem] ([MaSo], [MaKH], [MaLoai], [NgayMo], [KyHan], [SoTienGoc], [TrangThai]) VALUES (1, 1, 5, CAST(N'2025-06-23' AS Date), 12, CAST(860000.00 AS Decimal(18, 2)), N'Đang hoạt động')
INSERT [dbo].[SoTietKiem] ([MaSo], [MaKH], [MaLoai], [NgayMo], [KyHan], [SoTienGoc], [TrangThai]) VALUES (2, 2, 3, CAST(N'2023-02-20' AS Date), 3, CAST(10000000.00 AS Decimal(18, 2)), N'Ngưng hoạt động')
INSERT [dbo].[SoTietKiem] ([MaSo], [MaKH], [MaLoai], [NgayMo], [KyHan], [SoTienGoc], [TrangThai]) VALUES (3, 3, 1, CAST(N'2023-03-01' AS Date), 3, CAST(2500000.00 AS Decimal(18, 2)), N'Đáo hạn')
SET IDENTITY_INSERT [dbo].[SoTietKiem] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] ON 

INSERT [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [QuyenHan], [TrangThai], [MaNV]) VALUES (1, N'admin', N'c4ca4238a0b923820dcc509a6f75849b', N'Admin', 1, 1)
INSERT [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [QuyenHan], [TrangThai], [MaNV]) VALUES (2, N'nv', N'd51f863c1e597ba5e30586e3f4540f05', N'NhanVien', 1, 3)
INSERT [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [QuyenHan], [TrangThai], [MaNV]) VALUES (3, N'camtu', N'202cb962ac59075b964b07152d234b70', N'NhanVien', 0, 4)
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KhachHan__B9137313DCF062E8]    Script Date: 6/30/2025 7:44:05 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CMND_CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NhanVien__B9137313CBF73C94]    Script Date: 6/30/2025 7:44:05 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[CMND_CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC042FEFB8E]    Script Date: 6/30/2025 7:44:05 PM ******/
ALTER TABLE [dbo].[TaiKhoanNguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiaoDichTietKiem]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[GiaoDichTietKiem]  WITH CHECK ADD FOREIGN KEY([MaSo])
REFERENCES [dbo].[SoTietKiem] ([MaSo])
GO
ALTER TABLE [dbo].[LichSuThaoTac]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaCN])
REFERENCES [dbo].[ChiNhanh] ([MaCN])
GO
ALTER TABLE [dbo].[SoTietKiem]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSoTietKiem] ([MaLoai])
GO
ALTER TABLE [dbo].[SoTietKiem]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
USE [master]
GO
